html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#loader {
    width: 100%;
    height: 100%;
    position: absolute;
    /* Now lets choose our preloader GIF */
    background: url('https://i.imgur.com/gAm76JI.gif') no-repeat center;
    background-size: cover;
    top: 0;
    left: 0;
    object-fit: cover;
    /* Giving it opacity. so that we can apply fade out effect using js */
    opacity: 1;
    /* fade effect */
    transition: 0.2s linear;
    z-index: 99;
    /* Now add pointer events so other things are clickable and etc.. */
    pointer-events: none;
}